html, body {
    height: 100%;
    background-image: url("https://ak.picdn.net/shutterstock/videos/1016092558/thumb/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.crab-button {
    background: transparent;
    position: absolute;
    top: 45%;
    left: 45%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 300px;
    border: 0;
    outline: none;
}
.crab-image {
    height: 300px;
    width: 300px;
}
.fancy {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-top: 10%;
    width: 80%;
    margin: 0 auto;
}
.long-boi-text-top {
    text-align: center;
    padding-top: 10%;
    width: 80%;
    margin: 0 auto;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 15px;
}
.how {
    position: absolute;
    bottom: 15%;
    left: 20%;
    font-family: sans-serif;
    font-size: 3rem;
    transform: rotate(-15deg);
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.link {
    position: absolute;
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 90px;
    color: blue;
    background: white;
    bottom: 0;
}
.link-text {
    font-style: italic;
    line-height: 75px;
}